<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= data.titulo %></title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('../partials/navbar') %>

  <div class="container"> 
    <h1>Funciones a implementar</h1>

    <ul> 
      <% data.funciones.forEach(obj => { %>
        <li><%- obj %></li>
      <%}) %> 
    </ul>

  </div>

</body>
</html>