<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-brand">    
    <img src="/img/logo.png" alt="Logo" class="navbar-logo" />
  </a>
    <ul class="navbar-links">
      <li><a href="/productos">Productos</a></li>
      <li><a href="/productos/nuevo">New producto</a></li>
      <li><a href="/productos/stock-bajo">Stock Bajo</a></li>
      <li><a href="/proveedores">Proveedores</a></li>
      <li><a href="/movimientos">Movimientos</a></li>
      <li><a href="/movimientos/nuevo">New movimiento</a></li>
      <li><a href="/movimientos/reporte">Reporte</a></li>
      <li><a href="/consignas">Consignas</a></li>
      <li><a href="/postman">Postman</a></li>
    </ul>
  </div>
</nav>