<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <%- include('partials/navbar') %>
  <div class="container">
    <h1>Bienvenido a La Tienda</h1> 

    <p>Bienvenido al Proyecto Final de BDD II del Grupo 19, 
      cuya API está corriendo en <a href="http://localhost:3000/">http://localhost:3000/</a></p>

    <p>El proyecto seleccionado es el N° 4, Sistema de Inventario de Tienda,
      realizado con Node.js (Javascript), Mongoose & MongoDB.
    </p>

    <p>La Tienda app web es <strong>una interface sencilla </strong> que se ofrece para poder visualizar con
       facilidad algunas de las posibilidades que brinda la API del proyecto.</p>
    <p> El acceso ideal es <strong>empleando Postman</strong>, en la dirección arriba indicada, donde se pueden 
      ejecutar la totalidad del CRUD con cada una de las tres colecciones: 
      proveedores, productos y movimientos, así como las funciones específicamente solicitadas.</p>
 
    <p>Los <strong>objetivos mínimos específicos</strong> que se exigieron en los requisitos para este proyecto están en el enlace
       <a href="http://localhost:3001/consignas">Consignas</a> de esta app.</p>

      <p>
        Los <strong>objetivos genéricos</strong> del proyecto son:    
      </p>
      <ul>
        <li> * Catálogo de productos con stock actual.</li>
        <li> * Registro de proveedores y sus productos.</li>
        <li> * Movimientos de entrada y salida de mercancía.</li>
        <li> * Alertas de stock bajo.</li>
      </ul>

      <p>
        Los <strong>integrantes</strong> del Grupo 19 son:    
      </p>
      <ul>
        <li> * Carlos Alberto Arce.</li>
        <li> * Jerónimo Baltián Ortiz.</li>
        <li> * Gianfranco Campagnucci.</li>
        <li> * Dario Colantonio.</li>
        
      </ul>
  </div>
</body>
</html>